<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<h1>List of tweet</h1>

 <ul>
   <% @user.microposts.each do |micropost| %>
       <li>
         <%=micropost.content%>
       </li>
   <%end%>

 </ul>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
